.Experience {
    max-width: 750px;
    width: auto;
    margin: 15em auto;
}

.Menu {
    display: flex;
    padding-top: 30px;
}

.wrapperwrwr {
    display: flex;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.menu-name-wrapper {
    height: 45px;
    color: #8892b0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-name-wrapper:hover {
    color: #62f9d5;
    background-color: #112240;
}

.menu-name {
    font-size: 14px;
    padding-right: 20px;
}

.colorGr {
    color: #62f9d5;
}

.chngbg {
    background-color: #112240;
}

.linesWrapper {
    position: relative;
}

.liveLine {
    position: absolute;
    width: 3px;
    border-left: 3px solid #62f9d5;
    height: 45px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.transY2 {
    transform: translateY(100%);
}

.transY3 {
    transform: translateY(200%);
}

.transY4 {
    transform: translateY(300%);
}

.grayLineForBack {
    position: absolute;
    width: 3px;
    height: calc(45px * 4);
    border-left: 3px solid #223453;
}

@media (min-width: 571px) and (max-width: 800px) {
    .Experience {
        margin: 15em 15px;
    }
}

@media (min-width: 485px) and (max-width: 571px) {
    .Experience {
        margin: 15em 15px;
    }

    .menu-wrapper {
        width: 120px;
    }
}

@media (max-width: 485px) {
    .Experience {
        margin: 15em 5px;
    }

    .menu-wrapper {
        padding: 0 0;
        width: auto;
        flex-direction: row;
    }

    .wrapperwrwr{
        flex-direction: column;
    }

    .Menu {
        position: relative;
        padding-top: 0;
        height: 48px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .menu-name {
        padding-right: 0;
    }

    .linesWrapper {
        position: absolute;
        left: 0px;
        top: 45px;
    }

    .liveLine {
        height: 3px;
        width: 120px;
        border-top: 3px solid #62f9d5;
        border-left: none;
        transform: translateX(0);
    }

    .transY2 {
        transform: translateX(100%);
    }
    
    .transY3 {
        transform: translateX(200%);
    }
    
    .transY4 {
        transform: translateX(300%);
    }

    .grayLineForBack {
        position: absolute;
        height: 3px;
        width: calc(120px * 4);
        border-top: 3px solid #223453;
        border-left: none;
    }

    .menu-name-wrapper {
        width: 120px;
        justify-content: center;
    }
}